# World Machine
Data/config.json
Data/last_shop_reset_date.json
Data/explosions.txt

__pycache__/
*.py[cod]
*$py.class

*/workspace.xml

Profile Viewer/background.png
Profile Viewer/icon.png

**/.idea/workspace.xml
**/.idea/tasks.xml

blob/*