# World Machine
bot/data/config.yaml
bot/data/last_shop_reset_date.json
bot/data/explosions.txt
bot/data/shop.json

bot/images/*.png

.idea
.mypy_cache
.vscode

__pycache__/
*.py[cod]
*$py.class


blob/*
bot/data/shop.json
